@charset "UTF-8";
body {
  
  height: 100vh;
  background-color: #f8f9fa;
  background: url("https://wallpaperaccess.com/full/1104825.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Sofia", sans-serif;
  
}
.login-form {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: transparent;
  border: darkslateblue 2px ridge;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
@media (max-width: 576px) {
    .login-form {
        width: 100%;
        border: none;
  		border-radius: 0px;
  		box-shadow: none;
    }
}